<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/1.jpg" class = "img-fluid" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>Office Building</h3>
      <p>School is located in 1 acre area surrounded by greenery</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/2.jpg" class = "img-fluid" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>New classroom building</h3>
      <p>Built using MLA Fund 2018, inaugurated in 2019 June</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/3.jpg" class = "img-fluid" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Computer Lab</h3>
      <p>New improved computer lab with latest desktops powered by IT@School</p>
    </div>
  </ng-template>
  <!-- <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/4.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/5.jpg" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template> -->
</ngb-carousel>

